.DS_Store
Information Retrieval/Hw1/testfiles/hard.html
Information Retrieval/Hw1/testfiles/medium.html
Information Retrieval/Hw1/testfiles/simple.html
Information Retrieval/Hw3/dict.html
Information Retrieval/Hw3/out/post.html
Information Retrieval/Hw3/out/map.html
